@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
}

i.fa {
	margin-right: 0.2em;
}

html, body {
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
}
	header p {
		color: #AAA;
		padding: 0.8em;
		font-family: "Rounded M+ 1p heavy";
	}
		header p span {
			color: #239a3b;
			font-size: 15pt;
			font-weight: bold;
		}
	
.modal {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	z-index: 0;
}
	.modal-box {
		z-index: 1;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
		width: 60%;
		height: 60%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		padding: 2em;
		overflow: auto;
	}
		p.modal-control { 
			float: right;
		}
		.modal-close {
			border: none;
			font-weight: bold;
			cursor: pointer;
		}
		.modal-close i {
			color: #333;
			transition: 0.5s;
		}
		.modal-close i:hover {
			color: #666;
		}
		.modal-box h3 {
			font-size: 25pt;
			color: #BCB;
			border-bottom: 1px solid #DDD;
			margin-bottom: 0.5em;
		}
		.modal-box ul {
			margin: 1em 0;
			list-style: none;
			overflow: auto;
			max-height: 20em;
		}
			.modal-box li {
				background: #fff;
				padding: 1em 1em;
				border-bottom: 3px dotted #eee;
				cursor: pointer;
				transition: 0.5s;
			}
			.modal-box li:hover {
				background: #ddd;
			}
			.modal-box li:last-child {
				border: none;
			}
	form {
		font-size: 0;
	}
		form * {
			font-size: 8pt;
		}
		input {
			width: 60%;
			border: none;
			padding: 1em;
			outline: none;
		}
		input:focus {
			box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
		}
		button.btn-save {
			border: none;
			padding: 1em;
			background: #239a3b;
			color: #FFF;
			outline: none;
			cursor: pointer;
			transition: 0.3s;
		}
		button.btn-save:hover, button.btn-save:focus {
			opacity: 0.5;
		}
	div h2 {
		text-align: center;
		font-size: 20pt;
		color: #666;
		background: #f9f9f9;
		padding: 0.5em;
		box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
	}
		div h2 i {
			color: #AAA;
			cursor: pointer;
			transition: 0.5s;
		}
		div h2 i:hover {
			color: #333;
		}

table {
	border-collapse: separate;
	border-spacing: 0.5em;
	margin: 1.5em auto;
	width: 90%;
}
	td {
		font-size: 10pt;
		color: #666;
		padding: 0.7em;
		background: #F9F9F9;
		border-radius: 3px;
		width: 50px;
		height: 50px;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		transition: 0.3s;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1) inset;
	}
	td:hover {
		font-size: 5pt;
	}

footer {
	position: fixed;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
	bottom: 0;
	width: 100%;
}
	footer p {
		text-align: center;
		padding: 1em;
		color: #AAA;
	}
